body {
    padding: 15px;
}

.btn-group {
    margin-right: 10px;
}

#conference-group label {
    font-weight: 800;
}

#metric-group label {
    font-weight: 400;
}

#info-link {
    display: inline-block;
    margin-left: 100px;
}